<template>
  <q-layout>
    <q-page-container>
      <q-page padding>
        <div class="title">hello, the title is {{title}}</div>
        <q-markdown :src="markdown" toc @data="onToc">
        </q-markdown>
        <q-page-sticky position="top-right" :offset="[10, 60]">
          <q-btn  label="contents"  color="primary" @click="menuOpen=!menuOpen" dense v-if="generateTOC"/>
        </q-page-sticky>
      </q-page>
    </q-page-container>
    <q-drawer
      v-model="menuOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      side="right"
      v-if="generateTOC"
    >
      <q-list bordered separator>
        <q-item v-for="item in toc" clickable v-ripple><a :href="'#'+item.id">{{item.label}}</a></q-item>
      </q-list>
    </q-drawer>
  </q-layout>
</template>

<script>
  export default {
    name: "RenderMD",
    props: {
      title: null,
      hello: false,
      filename: '',
      generateTOC: false
    },
    data() {
      return {
        markdown: '',
        toc: [],
        menuOpen: true
      }
    },
    methods: {
      onToc(toc) {
        this.toc = toc
      }
    },
    mounted() {
      fetch(`${this.filename}`)
        .then(r => r.text())
        .then(r => this.markdown = r)
    }
  }
</script>

<style scoped>

</style>
